[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
tiktoken = "*"
pandas = "*"
datasets = "*"
beautifulsoup4 = "*"
spacy = "*"
openai = "*"
wordcloud = "*"
pillow = "*"
matplotlib = "*"
nltk = "*"
scikit-learn = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
